<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title><%= password %></title>
    <link href="app.css" rel="stylesheet" type="text/css">
</head>

<body>  
    <!--     ========================================================================         -->
    <h1 class="header"> Student's Comments form!</h1>
    <div>
        <form action="/thanks" method="post">

            <label for="lname">Course Code:</label><br>
            <input type="text"  class="u-input" placeholder="COMP-308"><br>
            
            <label for="lname">Course Name:</label><br>
            <input type="text" id="lname" name="lastname" placeholder="Emerging Technologies" class="u-input">
             <label for="lname">Student Email:</label><br>
            <input type="text"  name="username"  value="<%= username %>" class="u-input">
        
            <label for="subject">Your Comments:</label><br>
               
            <textarea id="subject"  placeholder="Write your comments here" style="height:200px; resize: none" class="u-input" name ="comment" ></textarea>
          
            <input type="submit" value="Submit">
            
        </form>
    </div>
    
</body>
</html>
