<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title><%= password %></title>
</head>
<body>
    <h1> Complete the rest of the fields</h1>
    <input type="text" name="username" value="<%= username %>" />
</body>
</html>
