<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />


    <style>
       body{
            width:75%;
            margin: auto;
            padding-top:50px;
        }
        .header{
            color:#45a049;
            margin: auto; 
            text-align:center;
            padding: 40px;
        }
        .u-input {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        }

        input[type=submit ] {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        }

        input[type=submit]:hover {
        background-color: #45a049;
        }

        div {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
        }
        label {
            float: left;
            width: 75%;
            margin-top: 6px;
        }
    </style>

    <title><%= password %></title>
</head>

<body>  
    <!--     ========================================================================         -->
    <h1 class="header"> Student's Comments form!</h1>
    <div>
        <form action="/thanks" method="post">

            <label for="lname">Course Code:</label><br>
            <input type="text"  class="u-input" placeholder="COMP-308"><br>
            
            <label for="lname">Course Name:</label><br>
            <input type="text" id="lname" name="lastname" placeholder="Emerging Technologies" class="u-input">
             <label for="lname">Student Email:</label><br>
            <input type="text"  name="username"  value="<%= username %>" class="u-input">
        
            <label for="subject">Your Comments:</label><br>
               
            <textarea id="subject"  placeholder="Write your comments here" style="height:200px; resize: none" class="u-input" name ="comment" ></textarea>
          
            <input type="submit" value="Submit">
            
        </form>
    </div>
    <h1> have to delete  this:</h1>
    <input type="text" name="username" value="<%= username %>" />
</body>
</html>
